
p{
    color:blue !important;
    background-color:yellow;
    width: 100%;
}
div{
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 300px;
}
body{
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
h3{
    display:none;
}
@media only screen and (max-width:550px) {
    p{
        display:none;
    }
    h2{
        display:none;
    }
    h3{
        display:block;
    }
    img{
        display:none;
    }
}
h2:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
img:hover{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
img:active{
    border-top: 9px solid rgb(107, 238, 255);
    border-right: 9px solid rgb(124, 246, 255);
}