
p{
    color:blue !important;
    background-color:yellow;
    width: 100%;
}
div{
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 300px;
}
body{
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
h3{
    display:none;
}
@media only screen and (max-width:550px) {
    p{
        display:none;
    }
    h2{
        display:none;
    }
    h3{
        display:block;
    }
}
h2:hover{
    font-size: 180%;
}
img:hover{
    filter: grayscale(1);
}
img:active{
    border-top: 15px solid purple;
    border-right: 9px solid purple;
}
.pixel{
--size: 32px;

  background: black;
  width: var(--size);
  height: var(--size);

  box-shadow:
    calc(1 * var(--size)) 0 0 gold,
    calc(2 * var(--size)) 0 0 blue,
    0 calc(1 * var(--size)) 0 red,
    calc(1 * var(--size)) calc(1 * var(--size)) 0 hotpink;
}